@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
   background-image: linear-gradient(to right, rgba(255,0,0,0), rgba(255,0,0,1));
   background-attachment:fixed ;
   background-size: 100%;
   background-repeat:repeat;
   margin-bottom: 5px;
   font-family: 'Open Sans', sans-serif; 
   
}

.form {
    background-color: rgba(0, 76, 139, 0.151);
    padding: 40px;
    max-width:600px;
    margin:40px auto;
    box-shadow:rgb(47, 48, 54) 4px 4px 10px 4px ;
    color: white;
    border-radius: 15px;
}

.title{
    font-weight: bolder;
    text-decoration: blueviolet;
    margin-top: 30px;
    box-shadow: inset;

}

.password{
    color: white;
    font-weight: bold;
    text-decoration:dotted;
}

button{
    font-weight: bold;
    color: yellow;
}